.layout{
    background-image: $topgraphy-image;
    background-color: #030127;
    .dark-navbar{
        @include sub-section-container;
        background-color: $dark-blue;
        transition: background-image 0.4s ease-out;
        background-image: $topgraphy-image;
        position: fixed;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 2000;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo-container{
            .logo{
                width: 50px;
                height: 50px;

            }
        }
        .nav-menu{
            background-color: transparent;
            display: none;
            @include mmd{
                display: flex;
            }
            .selected{
                font-weight: 600;
                color: white;
                opacity: 1;
                .pointer{
                    width: 10px;
                    margin-right: 6px;
                    vertical-align: middle;
                }
            }
            .ant-menu-item-selected{
                background-color: transparent;
            }
            .contribute-button{
                @include rounded-primary-button($light-blue);
                padding: 2px 13px !important;
                height: 30px !important;
                img{
                    width: 20px;
                }
                span{
                    height: 100%;
                    vertical-align: middle;
                    margin-left: 6px;
                }
            }
        }
    }
    .light-navbar{
        @extend .dark-navbar;
        background-color: white;
        background-image: none;
        color: $primary-black;
        transition: background-color 0.4s ease-out;
        .nav-menu{
            .ant-menu-item{
            a{
                color: $dark-blue;
            }
            }
            .selected{
                color: $dark-blue;
                font-weight: 600;
            }
            .ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected{
                color: $dark-blue;
                font-weight: 600;
            }
            .ant-menu-item.ant-menu-item-only-child{
                color: $primary-black;
            }
        }
    }
    .footer{
        background-color: $dark-black;
        color: white;
        font-size: 12px;
        @include msm{
            font-size: 16px;
        }
        .heart{
            width: 20px;
            margin: 0 2px;
        }
    }
}