.layout{
    background: unset;
    .dark-navbar{
        @include sub-section-container;
        background-color: $dark-black;
        transition: background-color 0.4s ease-out;
        position: fixed;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 2000;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo-container{
            .logo{
                width: 50px;
            }
        }
        .nav-menu{
            background-color: transparent;
            display: none;
            @include mmd{
                display: flex;
            }
            .ant-menu-item-selected{
                background-color: transparent;
            }
            .contribute-button{
                @include rounded-primary-button;
                padding: 2px 13px !important;
                height: 30px !important;
                img{
                    width: 20px;
                }
                span{
                    height: 100%;
                    vertical-align: middle;
                    margin-left: 6px;
                }
            }
        }
    }
    .light-navbar{
        @extend .dark-navbar;
        background-color: white;
        color: $primary-black;
        transition: background-color 0.4s ease-out;
        .nav-menu{
            .ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected{
                color: $primary-red;
            }
            .ant-menu-item.ant-menu-item-only-child{
                color: $primary-black;
            }
        }
    }
    .footer{
        background-color: $dark-black;
        color: white;
        .heart{
            width: 20px;
            margin: 0 2px;
        }
    }
}