.expertise{
    background-color: $section-blue;
    @include sub-section-container;
    padding-top: 64px;

    .service-block{
        .service-heading{
            font-weight: 400;
            letter-spacing: 1.3px;
            margin-bottom: 16px;
            font-size: 16px;
            text-align: center;
            @include md {
              font-size: $title-font;
            }
            @include xl{
                font-size: 24px;
            }
        }
        .service-card-container{
            .service-row{
                margin: 32px 0;
                .service-col{
                    margin-bottom: 8px;
                    .eCommerce{
                        margin: auto;
                        @include md{
                            max-width: 500px;
                        }
                    }
                    .bCards{
                        @include md{
                            max-width: 550px;
                        }
                    }
                    .apps{
                        @include md{
                            max-width: 600px;
                        }
                    }
                    .white-card{
                        @include card(white, black, $light-blue);
                    }
                    .blue-card{
                        @include card($light-blue, white, white);
                        .service-description{
                            color: white;
                        }
                    }
                    .rightAlign{
                        @include md{
                            margin-left: auto;
                        }
                    }
                    .service-card{
                        height: 100%;
                        .ant-card-body{
                            min-height: 200px;
                            height: 100%;
                        }
                        .service-name{
                            text-align: center;
                            color: inherit;
                            font-size: 14px;
                            margin-bottom: 24px;
                            @include md {
                              font-size: 16px;
                            }
                            @include xl{
                                font-size: 20px;
                            }
                        }
                        .service-description{
                            p{
                                color: $dark-blue;
                            }
                        }
                    }

                }
            }
        }
    }
}