#services-page{
    .process{
        min-height: 100vh;
        @include sub-section-container;
        .heading{
            margin: 12px 0;
            font-weight: 800;
            font-size: 18px;
            text-align: center;
            @include md {
              font-size: 22px;
              margin-bottom: 24px;
            }
            @include xl{
                font-size: 28px;
            }
        }
    }
}