@import '~antd/dist/antd.css';
@import './utilities/colors';
@import './utilities/variables';
@import './utilities/breakpoints';
@import './utilities/mixins';


@import './base/base';

@import './layout/navbar';
@import './layout/footer';


@import './pages/home';

