@import '~antd/dist/antd.css';
@import './utilities/colors';
@import './utilities/variables';
@import './utilities/breakpoints';
@import './utilities/mixins';


@import './base/base';

@import './layout/layout';
@import './layout/navbar';
@import './layout/footer';


@import './pages/home/home';
@import './pages/home/header';
@import './pages/home/about';

@import './pages/services/header';
@import './pages/services/process';
@import './pages/services/services-section';

@import './pages/work/header';
@import './pages/work/featured';
@import './pages/work/projects';





