$primary-black:#252525;
$dark-black:#161616;
$dark-blue: #030127;
$section-blue: #030030;
$ligh-black:#202020;
$light-blue: #00A8E8;
$primary-grey:#f0f0f0;
$text-grey: #94AAB2;
$primary-red: #FF1E26;
