// The smallest of the smallest of devices
@mixin xxs {
    @media (max-width:#{$screen-xs-min}) {
     @content;   
    }
}
// Extra Small devices
@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
 }
// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
 
 @mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
 }

 @mixin xxxl {
    @media (min-width: #{$screen-xxxl-min}) {
        @content;
    }
 }
// Custom devices + Mui
@mixin rwd($screen-min,$screen-max) {
    @media (min-width: $screen-min+'px')and (max-width:$screen-max+'px') {
        @content;
    }
 }
 @mixin mmd{
     @media (min-width: #{$mui-screen-md-min}){
         @content;
     }
 }
 @mixin msm {
     @media (min-width: #{$mui-screen-sm-min}){
         @content;
     }
 }


//  Buttons

@mixin primary-button {
    color: white;
    font-family: "Muli", "Poppins", serif, sans-serif;
    background-color: $primary-red;
    padding: 4px 6px;
    text-transform: capitalize;
    border-radius: 2px;
    border: 1px solid $primary-red;
    font-size: 13px;
    @include md{
        font-size: 14px;
    }
}

@mixin outlined-button {
    color: white;
    font-family: "Muli", "Poppins", serif, sans-serif;
    background-color: transparent;
    padding: 4px 6px;
    border: 1px solid white;
    text-transform: capitalize;
    border-radius: 2px;
    font-size: 13px;
    @include md{
        font-size: 14px;
    }
}

// Containers

@mixin main-container{

}

@mixin section-container{
    padding: 16px;
    @include msm{
        padding: 24px 32px;
    }
    @include mmd{
        padding: 32px 80px;
    }
    @include xl{
        padding: 32px 120px;
    }
}


@mixin sub-section-container {
    padding: 16px;
    @include msm{
        padding-left: 32px;
        padding-right: 32px;
    }
    @include mmd{
        padding-left: 80px;
        padding-right: 80px;
    }
    @include xl{
        padding-left: 120px;
        padding-right: 120px;
    }
}
