#homepage{
.header {
  margin-top: 80px;
  @include md {
    margin-top: 120px;
  }
  @include xl {
    margin-top: 150px;
  }
  .header-content {
    position: relative;
    @include msm {
      min-height: calc(100vh - 80px);
    }
    .bottom-arrow {
      width: 30px;
      display: none;
      position: absolute;
      bottom: 100px;
      @include msm {
        right: 32px;
        display: block;
      }
      @include mmd {
        right: 80px;
      }
      @include xl {
        right: 32px 120px;
      }
      @include xxl{
        left: 50%;
      }
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }
    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-10px);
      }
    }
    .fade-background{
      background: url('../../../images/media/fade-name.png');
      height: 400px;
      position: relative;
      bottom: 40px;
      width: 100%;
      left: -350px;
      z-index: 0;
      margin-top: -230px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .title-container {
    @include sub-section-container;
    width: fit-content;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-bottom: 12px;
    padding-top: 24px;
    padding-bottom: 0;
    @include md {
      background-color: $light-blue;
      padding-top: 0;
      display: block;
      margin: unset;
      margin-bottom: 32px;
    }
    .year {
      display: block;
      font-size: 10px;
      margin-left: 1px;
      margin-bottom: -8px;
      letter-spacing: 1.4px;
      @include msm {
        font-size: 12px;
        margin-left: 6px;
        margin-bottom: -14px;
      }
      @include md {
        font-size: 13px;
        margin-left: 18px;
        margin-bottom: -26px;
        letter-spacing: 2.4px;
      }
      @include xl {
        font-size: 14px;
        margin-left: 30px;
        margin-bottom: -40px;
      }
    }
    .main-title {
      font-size: 32px;
      letter-spacing: 2px;
      width: fit-content;
      font-weight: 800;
      @include msm {
        font-size: 48px;
      }
      @include md {
        font-size: 80px;
        letter-spacing: 4px;
      }
      @include xl {
        font-size: 140px;
        letter-spacing: 8px;
      }
      .dark-background{
        background: $dark-blue;
        height: inherit;
      }
    }
    .slogan {
      text-align: right;
      font-size: 12px;
      margin-right: 12px;
      margin-top: -8px;
      @include msm {
        font-size: 13px;
        margin-right: 16px;
        margin-top: -12px;
      }
      @include md {
        font-size: 14px;
        margin-right: 28px;
        margin-top: -29px;
      }
      @include xl {
        font-size: 21px;
        margin-right: 50px;
        margin-top: -45px;
        letter-spacing: 2px;
        font-weight: 100;
      }
    }
  }
  .description-container {
    @include sub-section-container;
    position: relative;
    z-index: 2;
    margin-bottom: 24px;
    @include md {
      margin-bottom: 64px;
    }
    .main-description {
      max-width: 400px;
      margin: auto;
      text-align: center;
      color: $text-grey;
      font-weight: $light-font;
      letter-spacing: 1px;
      font-size: 13px;
      @include msm {
        max-width: 560px;
        font-size: 14px;
      }
      @include md {
        max-width: 600px;
        font-size: $title-font;
      }
      @include xl {
        max-width: 700px;
        font-size: 24px;
      }
      @include xxl {
        max-width: 1100px;
      }
    }
    .buttons-container {
      display: flex;
      justify-content: center;
      margin: 12px 0;
      @include md {
        margin-top: 32px;
      }
      .join-button {
        @include primary-button($light-blue);
        margin-right: 4px;
        @include md {
          margin-right: 12px;
        }
      }
      .more-button {
        @include outlined-button;
      }
    }
  }
  .steps-container {
    .steps-carousel{
      display: block;
      @include md{
        display: none;
      }
      .slick-dots{
        .slick-active{
          button{
            background: $light-blue;
          }
        }
      }
      .step-description{
        margin: auto;
      }
    }
    .grid-parent {
      display: none;
      @include md{
        display: flex;
      }
      .grid-child {
        @at-root .step-card {
          border: 1px solid #ffffff;
          border-bottom: none;
          background: transparent;
          border-radius: 0;
          border-right: none;
          height: 100%;
          min-height: 200px;
          @include md {
            min-height: unset;
          }
          .ant-card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
          }
          .step-icon {
            margin: auto;
            margin-bottom: 24px;
            width: 40px;
            @include msm {
              width: 56px;
            }
            @include md {
              width: 60px;
            }
            @include xl {
              width: 80px;
            }
          }
          .step-description {
            text-align: center;
            font-size: 14px;
            font-family: $muli-font;
            color: $text-grey;
            display: block;
            margin-top: auto;
            @include msm {
              font-size: 16px;
              max-width: 460px;
            }
            @include md {
              font-size: 20px;
              max-width: 440px;
            }
            .step-name {
              color: white;
            }
          }
        }
      }
    }
  }
}
}